﻿@model Movie.Models.Dto.LoginDto
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout_login.cshtml"; ;
}

<div class="group-ml">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
    <form id="login">
        <h1 id="ff-proof" class="ribbon">Dev. center &nbsp;&nbsp;</h1>
        <div class="apple">
            <div class="top"><span></span></div>
            <div class="butt"><span></span></div>
            <div class="bite"></div>
        </div>  
        
        <fieldset id="inputs">
            @Html.EditorFor(model => model.username, new { htmlAttributes = new { placeholder = "User Admin" } })
            @Html.ValidationMessageFor(model => model.username, "", new { @class = "text-danger" })
            @Html.PasswordFor(model => model.password, new { placeholder = "Password", type = "Password" })
            @Html.ValidationMessageFor(model => model.password, "", new { @class = "text-danger" })
            <br />
            @ViewBag.Message
            @*<input id="username" type="text" onblur="if(this.value=='')this.value='Pseudo ID';" onfocus="if(this.value=='Pseudo ID')this.value='';" value="User Admin" />
        <input id="password" type="text" onblur="if(this.value=='')this.value='Mot de passe';" onfocus="if(this.value=='Mot de passe')this.value='';" value="Password Admin" />*@
        </fieldset>

        <fieldset id="actions">
            <input id="submit" type="submit" value="connection">
        </fieldset>
    </form>
    }
</div>
