﻿@media (min-width:767px) and (max-width:1023px) {
    #amc-stubs-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/amcstubs_holidayacquisition_promo.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #amc-stubs-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/amcstubs_holidayacquisition_promo.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #amc-stubs-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/amcstubs_holidayacquisition_promo.jpg)
    }
}

@media (min-width:1600px) {
    #amc-stubs-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/amcstubs_holidayacquisition_promo.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #amc-stubs-holiday-acquisition-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/amcstubs_holidayacquisition_synopsis.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #amc-stubs-holiday-acquisition-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/amcstubs_holidayacquisition_synopsis.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #amc-stubs-holiday-acquisition-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/amcstubs_holidayacquisition_synopsis.jpg)
    }
}

@media (min-width:1600px) {
    #amc-stubs-holiday-acquisition-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/amcstubs_holidayacquisition_synopsis.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #programs-and-events-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/3.2_promo_mobileapp.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #programs-and-events-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/3.2_promo_mobileapp.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #programs-and-events-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/3.2_promo_mobileapp.jpg)
    }
}

@media (min-width:1600px) {
    #programs-and-events-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/3.2_promo_mobileapp.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #mobile-app-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/3.2.8_promo_mobileapp_amcstubs.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #mobile-app-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/3.2.8_promo_mobileapp_amcstubs.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #mobile-app-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/3.2.8_promo_mobileapp_amcstubs.jpg)
    }
}

@media (min-width:1600px) {
    #mobile-app-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/3.2.8_promo_mobileapp_amcstubs.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #premium-offerings-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/4.2_dit.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #premium-offerings-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/4.2_dit.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #premium-offerings-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/4.2_dit.jpg)
    }
}

@media (min-width:1600px) {
    #premium-offerings-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/4.2_dit.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #premium-offerings-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/4.2_theatreupgrade.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #premium-offerings-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/4.2_theatreupgrade.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #premium-offerings-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/4.2_theatreupgrade.jpg)
    }
}

@media (min-width:1600px) {
    #premium-offerings-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/4.2_theatreupgrade.jpg)
    }
}

@media (min-width:767px) {
    #dolby-cinema-1 .mobilePromo, #dolby-cinema-2 .mobilePromo {
        display: none
    }
}

@media (max-width:766px) {
    #dolby-cinema-1, #dolby-cinema-2 {
        background-image: none
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #dolby-cinema-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/4.2.2_dolbycinema_dramaticimaging_promo1_v2.png)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #dolby-cinema-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/4.2.2_dolbycinema_dramaticimaging_promo1_v2.png)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #dolby-cinema-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/4.2.2_dolbycinema_dramaticimaging_promo1_v2.png)
    }
}

@media (min-width:1600px) {
    #dolby-cinema-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/4.2.2_dolbycinema_dramaticimaging_promo1_v2.png)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #dolby-cinema-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/4.2.2_dolbycinema_movingaudio_promo2.png)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #dolby-cinema-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/4.2.2_dolbycinema_movingaudio_promo2.png)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #dolby-cinema-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/4.2.2_dolbycinema_movingaudio_promo2.png)
    }
}

@media (min-width:1600px) {
    #dolby-cinema-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/4.2.2_dolbycinema_movingaudio_promo2.png)
    }
}

@media (min-width:767px) {
    #reald-1 .mobilePromo {
        display: none
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #reald-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/4.2.3_reald3d_promo1_seebrighterimages.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #reald-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/4.2.3_reald3d_promo1_seebrighterimages.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #reald-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/4.2.3_reald3d_promo1_seebrighterimages.jpg)
    }
}

@media (min-width:1600px) {
    #reald-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/4.2.3_reald3d_promo1_seebrighterimages.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #theatre-upgrades-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/4.2_tu_recline.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #theatre-upgrades-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/4.2_tu_recline.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #theatre-upgrades-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/4.2_tu_recline.jpg)
    }
}

@media (min-width:1600px) {
    #theatre-upgrades-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/4.2_tu_recline.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #theatre-upgrades-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/4.2_tu_macguffins.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #theatre-upgrades-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/4.2_tu_macguffins.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #theatre-upgrades-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/4.2_tu_macguffins.jpg)
    }
}

@media (min-width:1600px) {
    #theatre-upgrades-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/4.2_tu_macguffins.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #dine-in-theatres-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/5.2.3_criticschoice_promo.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #dine-in-theatres-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/5.2.3_criticschoice_promo.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #dine-in-theatres-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/5.2.3_criticschoice_promo.jpg)
    }
}

@media (min-width:1600px) {
    #dine-in-theatres-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/5.2.3_criticschoice_promo.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #dine-in-theatres-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/5.2_dit_macguffins_full.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #dine-in-theatres-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/5.2_dit_macguffins_full.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #dine-in-theatres-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/5.2_dit_macguffins_full.jpg)
    }
}

@media (min-width:1600px) {
    #dine-in-theatres-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/5.2_dit_macguffins_full.jpg)
    }
}

@media (min-width:767px) {
    #macguffins-1 .mobilePromo, #macguffins-2 .mobilePromo {
        display: none
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #macguffins-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/5.3_ds_bg.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #macguffins-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/5.3_ds_bg.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #macguffins-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/5.3_ds_bg.jpg)
    }
}

@media (min-width:1600px) {
    #macguffins-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/5.3_ds_bg.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #macguffins-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/6.2.1_drinkspecial_promo.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #macguffins-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/6.2.1_drinkspecial_promo.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #macguffins-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/6.2.1_drinkspecial_promo.jpg)
    }
}

@media (min-width:1600px) {
    #macguffins-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/6.2.1_drinkspecial_promo.jpg)
    }
}

@media (min-width:767px) {
    #drink-specials-1 .mobilePromo, #drink-specials-2 .mobilePromo, #drink-specials-3 .mobilePromo {
        display: none
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #drink-specials-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/5.3.3_drinkpromo_berryangry.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #drink-specials-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/5.3.3_drinkpromo_berryangry.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #drink-specials-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/5.3.3_drinkpromo_berryangry.jpg)
    }
}

@media (min-width:1600px) {
    #drink-specials-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/5.3.3_drinkpromo_berryangry.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #drink-specials-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/5.3.3_drinkpromo_angryapplespice_bg.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #drink-specials-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/5.3.3_drinkpromo_angryapplespice_bg.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #drink-specials-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/5.3.3_drinkpromo_angryapplespice_bg.jpg)
    }
}

@media (min-width:1600px) {
    #drink-specials-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/5.3.3_drinkpromo_angryapplespice_bg.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #drink-specials-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/5.3.3_drinkpromo_angrystrawberrysplash.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #drink-specials-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/5.3.3_drinkpromo_angrystrawberrysplash.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #drink-specials-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/5.3.3_drinkpromo_angrystrawberrysplash.jpg)
    }
}

@media (min-width:1600px) {
    #drink-specials-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/5.3.3_drinkpromo_angrystrawberrysplash.jpg)
    }
}

@media (min-width:767px) {
    #classic-fare-2 .TextBlock-copy-color, #classic-fare-2 .TextBlock-headline-color {
        color: #000
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #classic-fare-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/5.4_doublestack_bg.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #classic-fare-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/5.4_doublestack_bg.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #classic-fare-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/5.4_doublestack_bg.jpg)
    }
}

@media (min-width:1600px) {
    #classic-fare-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/5.4_doublestack_bg.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #classic-fare-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/5.4_promo_cokefreestyle.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #classic-fare-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/5.4_promo_cokefreestyle.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #classic-fare-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/5.4_promo_cokefreestyle.jpg)
    }
}

@media (min-width:1600px) {
    #classic-fare-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/5.4_promo_cokefreestyle.jpg)
    }
}

@media (min-width:767px) {
    #classic-fare-snacks-1 .mobilePromo, #classic-fare-snacks-3 .mobilePromo {
        display: none
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #classic-fare-snacks-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/5.4.1_promo_hotandsavory.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #classic-fare-snacks-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/5.4.1_promo_hotandsavory.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #classic-fare-snacks-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/5.4.1_promo_hotandsavory.jpg)
    }
}

@media (min-width:1600px) {
    #classic-fare-snacks-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/5.4.1_promo_hotandsavory.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #classic-fare-snacks-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/5.4.1_promo_amcstubs.png)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #classic-fare-snacks-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/5.4.1_promo_amcstubs.png)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #classic-fare-snacks-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/5.4.1_promo_amcstubs.png)
    }
}

@media (min-width:1600px) {
    #classic-fare-snacks-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/5.4.1_promo_amcstubs.png)
    }
}

@media (max-width:766px) {
    #cocacola-free-style-1 {
        color: #fff
    }
}

@media (min-width:767px) {
    #offers-promotions-4 {
        background-size: cover
    }

        #offers-promotions-4 .mobilePromo, #offers-promotions-7 .mobilePromo {
            display: none
        }
}

@media (min-width:767px) and (max-width:1023px) {
    #offers-promotions-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/amcstubs_holidayacquisition_promo.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #offers-promotions-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/amcstubs_holidayacquisition_promo.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #offers-promotions-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/amcstubs_holidayacquisition_promo.jpg)
    }
}

@media (min-width:1600px) {
    #offers-promotions-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/amcstubs_holidayacquisition_promo.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #offers-promotions-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/moanapingiveaway_bg.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #offers-promotions-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/moanapingiveaway_bg.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #offers-promotions-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/moanapingiveaway_bg.jpg)
    }
}

@media (min-width:1600px) {
    #offers-promotions-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/moanapingiveaway_bg.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #offers-promotions-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/starwars_promo_bg.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #offers-promotions-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/starwars_promo_bg.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #offers-promotions-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/starwars_promo_bg.jpg)
    }
}

@media (min-width:1600px) {
    #offers-promotions-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/starwars_promo_bg.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #offers-promotions-4 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/6.2.1_drinkspecial_promo.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #offers-promotions-4 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/6.2.1_drinkspecial_promo.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #offers-promotions-4 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/6.2.1_drinkspecial_promo.jpg)
    }
}

@media (min-width:1600px) {
    #offers-promotions-4 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/6.2.1_drinkspecial_promo.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #offers-promotions-5 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/giftcardawareness_promo_bg.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #offers-promotions-5 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/giftcardawareness_promo_bg.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #offers-promotions-5 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/giftcardawareness_promo_bg.jpg)
    }
}

@media (min-width:1600px) {
    #offers-promotions-5 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/giftcardawareness_promo_bg.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #offers-promotions-6 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/FLM_1176-moanapingiveaway_bg.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #offers-promotions-6 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/FLM_1176-moanapingiveaway_bg.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #offers-promotions-6 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/FLM_1176-moanapingiveaway_bg.jpg)
    }
}

@media (min-width:1600px) {
    #offers-promotions-6 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/FLM_1176-moanapingiveaway_bg.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #offers-promotions-7 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/FLM_1194_singsweeps_promo.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #offers-promotions-7 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/FLM_1194_singsweeps_promo.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #offers-promotions-7 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/FLM_1194_singsweeps_promo.jpg)
    }
}

@media (min-width:1600px) {
    #offers-promotions-7 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/FLM_1194_singsweeps_promo.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #offers-promotions-8 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/FLM_1202_manchesterbythesea_promo_bg.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #offers-promotions-8 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/FLM_1202_manchesterbythesea_promo_bg.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #offers-promotions-8 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/FLM_1202_manchesterbythesea_promo_bg.jpg)
    }
}

@media (min-width:1600px) {
    #offers-promotions-8 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/FLM_1202_manchesterbythesea_promo_bg.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #whats-new-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/redesign_findmovie_bg.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #whats-new-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/redesign_findmovie_bg.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #whats-new-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/redesign_findmovie_bg.jpg)
    }
}

@media (min-width:1600px) {
    #whats-new-1 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/redesign_findmovie_bg.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #whats-new-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/redesign_double_bg.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #whats-new-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/redesign_double_bg.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #whats-new-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/redesign_double_bg.jpg)
    }
}

@media (min-width:1600px) {
    #whats-new-2 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/redesign_double_bg.jpg)
    }
}

@media (min-width:767px) and (max-width:1023px) {
    #whats-new-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_767/amc-cdn/general/img/redesign_mobileapp.jpg)
    }
}

@media (min-width:1024px) and (max-width:1259px) {
    #whats-new-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1024/amc-cdn/general/img/redesign_mobileapp.jpg)
    }
}

@media (min-width:1260px) and (max-width:1599px) {
    #whats-new-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1260/amc-cdn/general/img/redesign_mobileapp.jpg)
    }
}

@media (min-width:1600px) {
    #whats-new-3 {
        background-image: url(https://amc-theatres-res.cloudinary.com/image/upload/c_fill,f_auto,fl_lossy,g_auto,q_auto,w_1600/amc-cdn/general/img/redesign_mobileapp.jpg)
    }
}
