﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=3.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css">
    <title>ดูหนังฟรีออนไลน์</title>
    @Styles.Render("~/Content/css/demo.css")
    @Styles.Render("~/Content/css/material-dashboard.css")
</head>
<body>
    <div class="wrapper ">
        <div class="sidebar" data-color="purple" data-background-color="white">
            <div class="logo">
                <a href="@Url.Action("Index","Dashboard")" class="simple-text logo-normal">@Session["username"]</a>
            </div>
            <div class="sidebar-wrapper">
                <ul class="nav">
                    <li class="nav-item active  ">
                        <a class="nav-link" href="@Url.Action("Index","Dashboard")">
                            <i class="material-icons">dashboard</i>
                            <p>DASHBOARD</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Index","MemberList")">
                            <i class="material-icons">person</i>
                            <p>USER / ข้อมูลส่วนตัว</p>
                        </a>
                    </li>
                    @*<li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Search","LogVisit")">
                            <i class="material-icons">content_paste</i>
                            <p>LOG VISIT / การเข้าถึง</p>
                        </a>
                    </li>*@
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Index","Home")">
                            <i class="material-icons">library_books</i>
                            <p>DEMO / ตัวอย่าง</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Create","MovieList")">
                            <i class="material-icons">bubble_chart</i>
                            <p>MANAGE / การจัดการ</p>
                        </a>
                    </li>
                    <li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("AddBar","Menubar")">
                            <i class="material-icons">notifications</i>
                            <p>MENUBAR / เพิ่มเมนู</p>
                        </a>
                    </li>
                    @*<li class="nav-item ">
                        <a class="nav-link" href="@Url.Action("Index","MovieList")">
                            <i class="material-icons">location_ons</i>
                            <p>MOVIES / ภาพยนต์</p>
                        </a>
                    </li>*@

                    @*<li class="nav-item ">
            <a class="nav-link" href="./rtl.html">
                <i class="material-icons">language</i>
                <p>RTL Support</p>
            </a>
        </li>
        <li class="nav-item active-pro ">
            <a class="nav-link" href="./upgrade.html">
                <i class="material-icons">unarchive</i>
                <p>Upgrade to PRO</p>
            </a>
        </li>*@
                </ul>
            </div>
        </div>
        @RenderBody()
        <hr />


        <footer class="copyright">
            <p>&copy; @DateTime.Now.Year - Administrator</p>
        </footer>
    </div>
    
    @Scripts.Render("~/common/script/material-dashboard.js")
    @Scripts.Render("~/common/script/material-dashboard.min.js")
    @Scripts.Render("~/common/script/nouislider.min.js")
    @Scripts.Render("~/common/script/core/jquery.min.js")
    @Scripts.Render("~/common/script/core/popper.min.js")
    @Scripts.Render("~/common/script/core/bootstrap-material-design.min.js")
    @Scripts.Render("~/common/script/plugins/perfect-scrollbar.jquery.min.js")
    @Scripts.Render("~/common/script/plugins/moment.min.js")
    @Scripts.Render("~/common/script/material-dashboard.js?v=2.1.2")
    @Scripts.Render("~/common/script/plugins/bootstrap-notify.js")
    @Scripts.Render("~/common/script/demo.js")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
    @*<script src="https://cdnjs.cloudflare.com/ajax/libs/core-js/2.4.1/core.js"></script>*@
</body>
</html>