﻿
<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="icon" href="~/common/img/logo.ico" sizes="16x16">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <meta name="viewport" content="width=device-width, maximum-scale=3.0, minimum-scale=0.3">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <!-- CSS -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css?v=1">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

    <!-- Jwplayer -->
    <script src="https://cdn.jwplayer.com/libraries/5jQG7kuN.js"></script>

    <title>ดูหนังฟรีออนไลน์</title>
    @Styles.Render("~/Content/css/mlk.css")
    @Styles.Render("~/Content/css/mlk_s.css")
    @Styles.Render("~/Content/css/mlk_s2.css")
    @Styles.Render("~/Content/css/mlk_s3.css")
    @Styles.Render("~/Content/css/app.css")
</head>
<body>
    <header class="header">
        <div class="border"></div>
        <div class="container">
            <div class="logo-head">
                    <a href="@Url.Action("","Home")" class="NavGroupItem-link NavGroupItem-link--account-stubs" tabindex="0" role="button">
                        <div>
                            <span class="NavGroupItem--account-link Headline--eyebrow">ดูหนังออนไลน์ฟรี</span>
                            DooNungFree
                        </div>
                    </a>
            </div>
            <h1 class="title-site">เว็บดูหนังออนไลน์ HD ดูหนังฟรี เต็มเรื่อง หนังใหม่ชนโรง</h1>
            <div class="search">
                @using (Html.BeginForm("", "Home", FormMethod.Post))
                {
                <div style="display:flex">
                    <a class="NavGroupItem-link HeaderMeta-showtimes">
                        <i class="icon icon_showtimes" alt="Showtimes"></i>
                        @using (Html.BeginForm("", "Home", FormMethod.Post))
                        {
                            <div class="NavGroupItem NavGroupItem--withPanel">
                                @Html.TextBox("keyword", ViewBag.CurrentFilter as string, new { placeholder = "ค้นหาหนัง" })
                            </div>
                            <button type="submit" class="Showtimes-label" data-tour="headerShowtimes">Search</button>
                        }
                    </a>
                </div>
                }
            </div>
        </div>
        <nav class="nav-main">
            <div class="menu-mainnav-container">
                <ul id="menu-mainnav" class="menu">
                    <li id="menu-item-26" class="menu-item menu-item-type-custom menu-item-object-custom current-menu-item current_page_item menu-item-home menu-item-26">
                        <a href="@Url.Action("Watch","Home")" aria-current="page">ดูหนังออนไลน์</a>
                    </li>
                    @*<li id="menu-item-6616" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6616">
                        <a href="https://movie2ufree.com/%e0%b8%ab%e0%b8%99%e0%b8%b1%e0%b8%87%e0%b8%8a%e0%b8%99%e0%b9%82%e0%b8%a3%e0%b8%87">หนังชนโรง</a>
                    </li>
                    <li id="menu-item-8623" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-8623">
                        <a href="https://movie2ufree.com/series-online">ดูซีรี่ย์</a>
                    </li>
                    <li id="menu-item-14089" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-14089">
                        <a href="https://movie2ufree.com/movie-2021">ดูหนัง 2021</a>
                    </li>
                    <li id="menu-item-9227" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-9227">
                        <a href="https://movie2ufree.com/movie-2020">ดูหนัง 2020</a>
                    </li>
                    <li id="menu-item-146" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-146">
                        <a href="https://movie2ufree.com/action">หนังแอคชั่น</a>
                    </li>
                    <li id="menu-item-25" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-25">
                        <a href="https://movie2ufree.com/movie-asia">หนังเอเชีย</a>
                    </li>
                    <li id="menu-item-23" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-23">
                        <a href="https://movie2ufree.com/cartoon">หนังการ์ตูน</a>
                    </li>
                    <li id="menu-item-21" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-21">
                        <a href="https://movie2ufree.com/netflix">NETFLIX</a>
                    </li>
                    <li id="menu-item-6617" class="menu-item menu-item-type-taxonomy menu-item-object-category menu-item-6617">
                        <a href="https://movie2ufree.com/topimdb">TOPIMDB</a>
                    </li>
                    <li id="menu-item-355" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-355">
                        <a href="https://movie2ufree.com/contact">ติดต่อเรา</a>
                    </li>
                    <li id="menu-item-355" class="menu-item menu-item-type-post_type menu-item-object-page menu-item-355">
                        <a href="~/Login/LogOut">@Session["username"] LOGOUT</a>
                    </li>*@
                </ul>
            </div>
        </nav>
    </header>
    @RenderBody()
    <hr />
    <footer class="SiteFooter" role="contentinfo">
        <div class="SiteFooter-social">
            <ul class="u-listUnstyled" role="navigation">
                @foreach (var item in ViewBag.menubar_name)
                {
                    <li>
                        <a rel="noopener noreferrer" href="https://www.facebook.com/amctheatres" class="Link" target="_blank">
                            <span>@item.menubar_name</span>
                        </a>
                    </li>
                }

                @*<li>
                    <a rel="noopener noreferrer" href="https://www.twitter.com/amctheatres" class="Link" target="_blank">
                        <span>หนังแอคชั่น</span>
                    </a>
                </li>
                <li>
                    <a rel="noopener noreferrer" href="https://www.youtube.com/user/amctheatres" class="Link" target="_blank">
                        <span>หนังเอเชีย</span>
                    </a>
                </li>
                <li>
                    <a rel="noopener noreferrer" href="https://www.instagram.com/amctheatres" class="Link" target="_blank">
                        <span>ดูหนังการ์ตูน</span>
                    </a>
                </li>
                <li>
                    <a rel="noopener noreferrer" href="https://www.instagram.com/amctheatres" class="Link" target="_blank">
                        <span>ดูซีรี่ย์ฝรั่ง</span>
                    </a>
                </li>
                <li>
                    <a rel="noopener noreferrer" href="https://www.instagram.com/amctheatres" class="Link" target="_blank">
                        <span>ดูซีรี่ย์เกาหลี</span>
                    </a>
                </li>
                <li>
                    <a rel="noopener noreferrer" href="https://www.pinterest.com/amctheatres" class="Link" target="_blank">
                        <span>NETFLIX</span>
                    </a>
                </li>*@
                    </ul>
                </div>

                <div class="SiteFooter-copyright">
                    <div class="copyright-container u-container row">
                        <div class="col-xs-12 col-md-12 copyright">
                            <span class="copyright">© Copyright 2021 DooNungFree</span>
                        </div>
                    </div>
                </div>
            </footer>
    <div id="fb-root"></div>
    <style type="text/css">
        /* start wp categories widget CSS */

        .widget_wp_categories_widget {
            background: #fff;
            position: relative;
        }


            .widget_wp_categories_widget ul li, .widget_wpcategorieswidget ul li {
                font-size: 16px;
                margin: 0px;
                border-bottom: 1px dashed #f0f0f0;
                position: relative;
                list-style-type: none;
                line-height: 35px;
            }

                .widget_wp_categories_widget ul li:last-child, .widget_wpcategorieswidget ul li:last-child {
                    border: none;
                }

                .widget_wp_categories_widget ul li a, .widget_wpcategorieswidget ul li a {
                    display: inline-block;
                    color: #007acc;
                    transition: all .5s ease;
                    -webkit-transition: all .5s ease;
                    -ms-transition: all .5s ease;
                    -moz-transition: all .5s ease;
                    text-decoration: none;
                }

                    .widget_wp_categories_widget ul li a:hover, .widget_wp_categories_widget ul li.active-cat a, .widget_wp_categories_widget ul li.active-cat span.post-count, .widget_wpcategorieswidget ul li a:hover, .widget_wpcategorieswidget ul li.active-cat a, .widget_wpcategorieswidget ul li.active-cat span.post-count {
                        color: #ee546c
                    }

                .widget_wp_categories_widget ul li span.post-count, .widget_wpcategorieswidget ul li span.post-count {
                    height: 30px;
                    min-width: 35px;
                    text-align: center;
                    background: #fff;
                    color: #605f5f;
                    border-radius: 5px;
                    box-shadow: inset 2px 1px 3px rgba(0, 122, 204,.1);
                    top: 0px;
                    float: right;
                    margin-top: 2px;
                }

        li.cat-item.cat-have-child > span.post-count {
            float: inherit;
        }

        li.cat-item.cat-item-7.cat-have-child {
            background: #f8f9fa;
        }

        li.cat-item.cat-have-child > span.post-count:before {
            content: "(";
        }

        li.cat-item.cat-have-child > span.post-count:after {
            content: ")";
        }

        .cat-have-child.open-m-menu ul.children li {
            border-top: 1px solid #d8d8d8;
            border-bottom: none;
        }

        li.cat-item.cat-have-child:after {
            position: absolute;
            right: 8px;
            top: 8px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAAAoklEQVQ4je3PzQpBURSG4WfknztxGS6BKOIaDQwkSXJTnI7J2rXbhSND3lqTtb/19m3+NGWANVof3LTiZpAWXVxQY4t2A0k7snXcdmGMKpY1dui8kHQik/JVOMAC9+zxlFfO6GFfSDZlaI5bFjpjWEgOhWT9rHYpu2CEPo7Z/v5KklgW37zG5JLlO0liVjTLJaumkmeyj5qUTEP2lSQxiflVHtR5PTMAQTkfAAAAAElFTkSuQmCC);
            content: "";
            width: 18px;
            height: 18px;
            transform: rotate(270deg);
        }

        ul.children li.cat-item.cat-have-child:after {
            content: "";
            background-image: none;
        }

        .cat-have-child ul.children {
            display: none;
            z-index: 9;
            width: auto;
            position: relative;
            margin: 0px;
            padding: 0px;
            margin-top: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
            list-style: none;
            text-align: left;
            background: #f8f9fa;
            padding-left: 5px;
        }

        .widget_wp_categories_widget ul li ul.children li, .widget_wpcategorieswidget ul li ul.children li {
            border-bottom: 1px solid #fff;
            padding-right: 5px;
        }

        .cat-have-child.open-m-menu ul.children {
            display: block;
        }

        li.cat-item.cat-have-child.open-m-menu:after {
            transform: rotate(0deg);
        }

        .widget_wp_categories_widget > li.product_cat, .widget_wpcategorieswidget > li.product_cat {
            list-style: none;
        }

        .widget_wp_categories_widget > ul, .widget_wpcategorieswidget > ul {
            padding: 0px;
        }

            .widget_wp_categories_widget > ul li ul, .widget_wpcategorieswidget > ul li ul {
                padding-left: 15px;
            }
        /* End category widget CSS*/
    </style>
    <style type="text/css">
        /* start wp categories widget CSS */

        .widget_wp_categories_widget {
            background: #fff;
            position: relative;
        }

            .widget_wp_categories_widget h2 {
                color: #4a5f6d;
                font-size: 20px;
                font-weight: 400;
                margin: 0 0 12px;
                line-height: 24px;
                text-transform: uppercase
            }

            .widget_wp_categories_widget ul li {
                font-size: 16px;
                margin: 0px;
                border-bottom: 1px dashed #f0f0f0;
                position: relative;
                list-style-type: none;
                line-height: 35px;
            }

                .widget_wp_categories_widget ul li:last-child {
                    border: none;
                }

                .widget_wp_categories_widget ul li a {
                    display: inline-block;
                    color: #007acc;
                    transition: all .5s ease;
                    -webkit-transition: all .5s ease;
                    -ms-transition: all .5s ease;
                    -moz-transition: all .5s ease
                }

                    .widget_wp_categories_widget ul li a:hover, .widget_wp_categories_widget ul li.active-cat a, .widget_wp_categories_widget ul li.active-cat span.post-count {
                        color: #ee546c
                    }

                .widget_wp_categories_widget ul li span.post-count {
                    height: 30px;
                    min-width: 35px;
                    text-align: center;
                    background: #fff;
                    color: #605f5f;
                    border-radius: 5px;
                    box-shadow: inset 2px 1px 3px rgba(0, 122, 204,.1);
                    top: 0px;
                    float: right;
                    margin-top: 2px;
                }

        li.cat-item.cat-have-child > span.post-count {
            float: inherit;
        }

        li.cat-item.cat-item-7.cat-have-child {
            background: #f8f9fa;
        }

        li.cat-item.cat-have-child > span.post-count:before {
            content: "(";
        }

        li.cat-item.cat-have-child > span.post-count:after {
            content: ")";
        }

        .cat-have-child.open-m-menu ul.children li {
            border-top: 1px solid #d8d8d8;
            border-bottom: none;
        }

        li.cat-item.cat-have-child:after {
            position: absolute;
            right: 8px;
            top: 8px;
            background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABIAAAASCAYAAABWzo5XAAAABmJLR0QA/wD/AP+gvaeTAAAAoklEQVQ4je3PzQpBURSG4WfknztxGS6BKOIaDQwkSXJTnI7J2rXbhSND3lqTtb/19m3+NGWANVof3LTiZpAWXVxQY4t2A0k7snXcdmGMKpY1dui8kHQik/JVOMAC9+zxlFfO6GFfSDZlaI5bFjpjWEgOhWT9rHYpu2CEPo7Z/v5KklgW37zG5JLlO0liVjTLJaumkmeyj5qUTEP2lSQxiflVHtR5PTMAQTkfAAAAAElFTkSuQmCC);
            content: "";
            width: 18px;
            height: 18px;
            transform: rotate(270deg);
        }

        ul.children li.cat-item.cat-have-child:after {
            content: "";
            background-image: none;
        }

        .cat-have-child ul.children {
            display: none;
            z-index: 9;
            width: auto;
            position: relative;
            margin: 0px;
            padding: 0px;
            margin-top: 0px;
            padding-top: 10px;
            padding-bottom: 10px;
            list-style: none;
            text-align: left;
            background: #f8f9fa;
            padding-left: 5px;
        }

        .widget_wp_categories_widget ul li ul.children li {
            border-bottom: 1px solid #fff;
            padding-right: 5px;
        }

        .cat-have-child.open-m-menu ul.children {
            display: block;
        }

        li.cat-item.cat-have-child.open-m-menu:after {
            transform: rotate(0deg);
        }

        .widget_wp_categories_widget > li.product_cat {
            list-style: none;
        }

        .widget_wp_categories_widget > ul {
            padding: 0px;
        }

            .widget_wp_categories_widget > ul li ul {
                padding-left: 15px;
            }
        /* End category widget CSS*/
    </style>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/common/script/jwplayer.js")
    @RenderSection("scripts", required: false)

</body>
</html>


