﻿@model Movie.Models.Dto.MenubarListDto
@{
    ViewBag.Title = "AddBar";
    Layout = "~/Views/Shared/_Layout_admin.cshtml"; ;
}
@using (Html.BeginForm("AddBar", "Menubar"))
{
    @Html.AntiForgeryToken()

    <div class="main-panel">
        <!-- End Navbar -->
        <div class="content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-md-12 ml-auto mr-auto">
                        <div class="card">
                            <div class="card-header card-header-primary">
                                <h4 class="card-title">MANAGE / การจัดการ</h4>
                                <p class="card-category">@Html.ValidationSummary(true, "", new { @class = "text-danger" })</p>
                            </div>
                            <div class="card-body">
                                <h4 class="card-title">@ViewBag.Message</h4>
                                <div class="table-responsive table-upgrade">
                                    <table class="table">
                                        <thead>
                                            <tr>
                                                <th style="text-align:center;">Side Tab / ตำเเหน่งแท็บ 1(บน) 2(ซ้าย) 3(ขวา)</th>
                                                <th style="width:70%;" class="text-center">Side Name / ชื่อประเภท </th>
                                                @*<th class="text-center">File / ไฟล์</th>*@
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <td>
                                                    @Html.DropDownListFor(model => model.type, new SelectList(ViewBag.menubar_type, "Value", "Text"), new { @class = "form-control" })
                                                </td>
                                                <td class="text-center">
                                                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })

                                                </td>
                                                @*<td class="text-center">
                                                        <input type="file" value="@Url.Action("UploadFile", "MovieList")" name="UploadButton" id="UploadButton" />
                                                    </td>*@
                                            </tr>
                                        </tbody>
                                    </table>
                                    <div class="form-group text-center">
                                        <div class="col-md-offset-2 col-md-12">
                                            <input type="button" value="Back" onclick="location.href='@Url.Action("Index", "Menubar")'" class="btn btn-danger" />
                                            <input type="submit" value="Save" class="btn btn-primary" />
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

}



