﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Movie.Models.Dto.MenubarListDto>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout_admin.cshtml";
}
<div class="main-panel">
    <!-- Navbar -->
    <nav class="navbar navbar-expand-lg navbar-transparent navbar-absolute fixed-top ">
        <div class="container-fluid">
            @*<div class="navbar-wrapper">
                    <a class="navbar-brand" href="javascript:;">MOVIES LIST / ภาพยนต์</a>
                </div>*@
            <button class="navbar-toggler" type="button" data-toggle="collapse" aria-controls="navigation-index" aria-expanded="false" aria-label="Toggle navigation">
                <span class="sr-only">Toggle navigation</span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
                <span class="navbar-toggler-icon icon-bar"></span>
            </button>
            <div class="collapse navbar-collapse justify-content-end">
                <form class="navbar-form">
                    <div class="input-group no-border">
                        <input type="text" value="" class="form-control" placeholder="Search...">
                        <button type="submit" class="btn btn-white btn-round btn-just-icon">
                            <i class="material-icons">search</i>
                            <div class="ripple-container"></div>
                        </button>
                    </div>
                </form>
                <ul class="navbar-nav">
                    <li class="nav-item dropdown">
                        <a class="nav-link" href="javascript:;" id="navbarDropdownProfile" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            <i class="material-icons">person</i>
                            <p class="d-lg-none d-md-block">
                                Account
                            </p>
                        </a>
                        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdownProfile">
                            <a class="dropdown-item" href="@Url.Action("Index","MemberList")">Settings</a>
                            <div class="dropdown-divider"></div>
                            <a class="dropdown-item" href="~/Login/LogOut">Log out</a>
                        </div>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <!-- End Navbar -->
    <div class="content">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <div class="card">
                        <div class="card-header card-header-primary">
                            <h4 class="card-title ">MOVIES LIST / ภาพยนต์</h4>
                            <p class="card-category">ภาพยนต์ทั้งหมด</p>
                        </div>
                        <div class="card-body">
                            <div style="float:right">
                                @ViewBag.Message
                                @using (Html.BeginForm("ExportToExcel", "LogVisit", FormMethod.Post))
                                {
                                    <button type="submit" id="btnExport" style="margin-top:-10px;" class="btn btn-rounded btn-warning"><i class="icon-printer mr-2"></i> Export</button>
                                }
                            </div>
                            <div class="table-responsive">
                                <table class="table">
                                    <tr class=" text-primary">
                                        <th class="align-middle" style="width: 100px;text-align: center;">No / ลำดับ</th>
                                        <th class="align-middle" style="text-align:center;">Name / ชื่อภาพยนต์</th>
                                        <th class="align-middle" style="width: 200px;text-align: center;">Rating / คะเเนน</th>
                                        <th class="align-middle" style="width: 250px;text-align: center;">Date / วันที่อัพเดต</th>
                                        <th class="align-middle" style="width: 50px;text-align: center;">แก้ไข</th>
                                    </tr>
                                    <tbody>
                                        @if (Model != null && Model.Count() != 0)
                                        {
                                            foreach (var item in Model)
                                            {
                                                <tr class="text-center">
                                                    <td> @Html.DisplayFor(modelItem => item.num)</td>
                                                    <td class="text-center"> @Html.DisplayFor(modelItem => item.name)</td>
                                                    <td> @Html.DisplayFor(modelItem => item.type)</td>
                                                    <td> @Html.DisplayFor(modelItem => item.create_date)</td>
                                                    <td>

                                                        @using (Html.BeginForm("Edit", "Menubar", new { id = item.id }, FormMethod.Get))
                                                        {
                                                            <button type="submit" rel="tooltip" title="Edit" class="btn btn-primary btn-link btn-sm">
                                                                <i class="material-icons">edit</i>
                                                            </button>
                                                        }

                                                        @using (Html.BeginForm("DeleteBar", "Menubar", new { id = item.id }, FormMethod.Post))
                                                        {
                                                            <button type="submit" rel="tooltip" title="Del" class="btn btn-danger btn-link btn-sm">
                                                                <i class="material-icons">close</i>
                                                            </button>
                                                        }
                                                    </td>
                                                </tr>
                                            }
                                        }
                                        else
                                        {
                                            <tr class="text-center">
                                                <td colspan="6">
                                                    No Data !!
                                                </td>
                                            </tr>
                                        }
                                    </tbody>
                                </table>
                            </div>
                            @{
                                if (Convert.ToInt32(ViewBag.Count) > ViewBag.Rows)
                                {
                                    <div class="justify-content-center row">
                                        @if (Model != null)
                                        {
                                            @Html.PagedListPager(Model, Page => Url.Action("Index", "Menubar", new { Page }))
                                        }
                                    </div>
                                }
                            }
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
