﻿@using PagedList;
@using PagedList.Mvc;
@model IPagedList<Movie.Models.Dto.MovieListDto>
@{
    ViewBag.Title = "Login";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<main class="SiteContent">
    <div>
        <div class="content">
            <div class="html-container">
                <div></div>
            </div>
            <div class="movies-index">
                <header class="u-header--sticky movies-index__header-border" style="top:52px">
                    <div class="u-container--1260 movies-index__header">
                        <div class="movies-index__heading-text--no-text">
                        </div>
                        <div class="tabs tabs--horizontal">
                            <a class="tabs__tab tabs__tab--selected">ShowTime</a>
                        </div>
                    </div>
                </header>
                <section class="movies-index__section u-container--1260">
                    <div class="theatre-movies-index">
                        <div class="poster-grid theatre-movies-index__grid">
                            @if (Model != null && Model.Count() != 0)
                            {
                                foreach (var item in Model)
                                {
                                    <div>
                                        @{
                                            var url = string.Format(
                                                "/Home/Watch/?Token={0}",
                                                @Uri.EscapeDataString(item.token.ToString()));
                                        }
                                        <div class="Slide">
                                            <a href="@url">
                                                <div class="rate-up">
                                                    <span class="info1">@item.rating</span>
                                                    <span class="info2-1">@item.type</span>
                                                </div>
                                                <img src="/common/img/@item.img_head" id="movie-poster-private-theatre-rental" alt="@Html.DisplayFor(modelItem => item.alt)" />
                                            </a>
                                            <div class="PosterContent">
                                                <a href="/movies/private-theatre-rental-65421">
                                                    <h3>@Html.DisplayFor(modelItem => item.movies)</h3>
                                                </a>
                                                <div class="Headline--eyebrow poster-content-meta">
                                                    <p>
                                                        <span tabindex="0">
                                                            <span class="u-separator js-runtimeConvert u-inlineFlexCenter">@Html.DisplayFor(modelItem => item.time)</span>
                                                        </span>
                                                        <span>@Html.DisplayFor(modelItem => item.year)</span>
                                                    </p>
                                                </div>
                                                @*<div class="btn-group">
                                                    <a class="Btn Btn--primary" href="@url">ดูหนัง</a>
                                                </div>*@
                                            </div>
                                        </div>
                                    </div>
                                }
                            }
                            <!--<div>
                                <div class="Slide">
                                    <a href="/movies/jurassic-world-65713">
                                        <img src="https://amc-theatres-res.cloudinary.com/image/upload/f_auto,fl_lossy,h_465,q_auto,w_310/v1608137413/amc-cdn/production/2/movies/65700/65713/PosterDynamic/113095.jpg" id="movie-poster-jurassic-world" alt="movie poster for Jurassic World" />
                                    </a>
                                    <div class="PosterContent">
                                        <a href="/movies/jurassic-world-65713">
                                            <h3>Jurassic World</h3>
                                        </a>
                                        <div class="Headline--eyebrow poster-content-meta">
                                            <p>
                                                <span aria-label="Please allow approximately 20 extra minutes for pre-show and trailers before the show starts." data-tour="movieInfo" tabindex="0">
                                                    <span class="u-screenreader-only">Please allow approximately 20 extra minutes for pre-show and trailers before the show starts.</span>
                                                    <span class="u-separator js-runtimeConvert u-inlineFlexCenter">1 hr 57 min</span>
                                                </span>
                                                <span>PG13</span>
                                                <span class="MoviePosters__released-month clearfix">Released-->
                                                <!-- --> <!-- -->
                                                <!--Jan 1, 2021</span>
                                            </p>
                                        </div>
                                        <div>
                                            <a class="Btn Btn--primary" href="/movies/jurassic-world-65713/showtimes">Get Tickets</a>
                                        </div>
                                    </div>
                                </div>
                            </div>-->
                            <div class="ie-grid-fill"></div>
                            <div class="ie-grid-fill"></div>
                            <div class="ie-grid-fill"></div>
                            <div class="ie-grid-fill"></div>
                            <div class="ie-grid-fill"></div>
                        </div>
                    </div>
                </section>
            </div>
            <div class="html-container">
                <div class="Promotion-container Promotion--hasBg Promotion--isParallax">
                    <div class="grid-wrapper u-container Promotion-innerContainer">
                        <div class="row--no-padding row">
                            <div class="Promotion-image column-keep-tablet col-sm-7">
                                <iframe width="700" height="440" src="https://www.youtube.com/embed/lRifyR1jrHw" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                            </div>
                            <div class="Promotion-content col-sm-5">
                                <div class="TextBlock">
                                    <span class="TextBlock-eyebrow Headline--eyebrow">MOST THEATRES ARE NOW OPEN</span>
                                    <h2 class="TextBlock-headline">หนังใหม่ยอดนิยม <span style="color:red">!!!</span></h2>
                                    <p class="TextBlock-copy">เนื้อเรื่องหลังจากที่ถูกแฟนเก่าหลอกเอาเงินก้อนใหญ่ อดีตสาวธนาคารจึงล่อลวงนักต้มตุ๋นอีกคนมาร่วมปฏิบัติการหลอกแฟนเก่าอีกทีเพื่อเอาคืนให้สาสม!</p>
                                    <div class="BtnGroup">
                                        <a class="Btn Btn--Default" href="http://1200.ahc-holding.info/Home/Watch/?Token=PFyJo4u9PGrAON6FfYw2ZQ%3D%3D">ดูหนัง</a>
                                        <a class="Btn Btn--Secondary" href="">More</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
